@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

html,body{
    height: 100%;
    width: 100%;
}

#cursor{
    height: 20px;
    width: 20px;
    background-color: #95c11e;
    position: fixed;
    border-radius: 50%;
    z-index: 9;
}

#cursor-blur{
    height: 400px;
    width: 400px;
    background-color: #96c11e71;
    position: fixed;
    border-radius: 50%;
    filter: blur(60px);
    z-index: 9;
}

#nav{
    height: 145px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 150px;
    gap: 50px;
    justify-content: flex-start;
    z-index: 999;
    position: fixed;
}

#nav img{
    height: 75px;
    
}

#nav h4{
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;

}

#nav h4:hover{
    color: #aee026;
}

video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    position: fixed;
}

#main{
    position: relative;
    background-color: rgba(0,0,0,0.35);
}

#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
    z-index: 10;
}

#page1 h1{
    font-size: 120px;
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
}

#page1 h1::before{
    content: "EAT. DRINK. PLAY.";
    position: absolute;
    color: black;   
    top: -3px; 
    left: -5px;
    -webkit-text-stroke: 2px #95c11e;
    z-index: -1;
}

#page1 h2{
    font-size: 35px;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 20px;
}

#page1 p{
    font-size: 20px;
    font-weight: 500;
    width: 60%;
}

#page1 #arrow-div-container {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    position: absolute;
    top: 75%;
    left: -2.5%;
    z-index: 3;
    overflow: hidden; /* Add this line to hide the overflowing image */
}

#page1 #arrow {
    height: 180px;
    width: 180px;
    background-color: transparent;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 3px solid #95c11e;
    z-index: 99;
    transition: all ease 0.7s;
    transform: translateY(0); /* Add this line to reset the transform property */
}

#page1 #arrow img{
    height: 30px;
}

#page1 #arrow-div-container:hover #arrow {
    height: 60px;
    width: 60px;
    background-color: #95c11e;
    transform: translateY(0); /* Add this line to reset the transform property */
}

#page1 #arrow-div-container:hover img {
    animation: floatFromTop 0.8s ease-in-out; /* Add this animation for image float */
}

@keyframes floatFromTop {
    0% {
        transform: translateY(0);
        opacity: 1; /* Starts at full opacity */
    }
    50% {
        transform: translateY(100%); /* Move the image down by 100% of its height */
        opacity: 0; /* Fade out the image */
    }
    51% {
        transform: translateY(-100%); /* Move the image back up above the container */
        opacity: 0; /* Keep the image hidden */
    }
    100% {
        transform: translateY(0); /* Return the image to its original position */
        opacity: 1; /* Fade it back in to full opacity */
    }
}

#page2{
    min-height: 100vh;
    width: 100%;
    z-index: 10;
}

#scroller{
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: inherit;
}

#scroller::-webkit-scrollbar {
    display: none;
  }

#scroller-in{
    display: inline-block;
    white-space: nowrap;
    text-transform: uppercase;
    animation-name: scroll;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#scroller h4{
    display: inline-block;
    font-size: 120px;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    margin-right: 20px;
    transition: all linear 0.5s;
    color: transparent;
    -webkit-text-stroke: 2px #95c11e;
}

#scroller h4:hover{
    color: #95c11e;
}

@keyframes scroll {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

#about-us{
    height: 40vh;
    width: 100%;
    /* background-color: red; */
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    position: relative;
    z-index: 10;
}
#about-us img{
    height: 220px;
    width: 220px;
    border-radius: 20px;
    object-fit: cover;

}
#about-us-info{
    width: 50%;
    text-align: center;
}

#about-us-info h3{
    font-size: 52px;
    font-weight: 800;
    margin-bottom: 40px;
}

#about-us-info p{
    font-size: 18px;
    line-height: 26px;
}

#cards-container{
    /* background-color: red; */
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
    position: relative;
    margin-top: 50px;
}

.card{
    height: 80%;
    width: 24%;
    /* background-color: blue; */
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    z-index: 10;
    overflow: hidden;
    transition: all ease 0.4s;
}

#card1{
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-toptracer-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}

#card2{
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/hero-4-1024x1024.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}

#card3{
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-lessons-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}

.card-info-front{
    position: relative;
    top: 280px;
    left: 30px;
    display: flex;
    flex-direction: column;
}

#c-info-1 , #c-info-3{
    position: relative;
    top: 15px;
}

.card-info-front h4{
    color: #fff;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
}

.card-info-front h6{
    color: #fff;
    font-size: 15px;
}

.card:hover .card-info-front{
    display: none;
}

.overlay{
    height: 100%;
    width: 100%;
    background-color: #95c11e;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all ease 0.4s;
}

.card:hover .overlay{
    opacity: 1;
}

.overlay h4{
    color: black;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
}

.overlay p{
    color: black;
    font-size: 16px;
    font-weight: 300;
}

.overlay #p1{
    line-height: 1.5;
    margin: 20px 0 20px 0;
}

#green-div{
    background: linear-gradient(to left bottom, #baeb34, #95c11e);
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#green-div h4{
    color: black;
    width: 45%;
    line-height: 50px;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    text-transform: uppercase;
}

#green-div img{
    height: 100%;
    object-fit: cover;
    width: 14%;
}

#page3{
    height: 90vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#testimonial{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

#testimonial>p{
    font-size: 28px;
    font-weight: 700;
    width: 60%;
    text-align: center;
    line-height: 45px;
    text-transform: uppercase;
}

#colon1{
    width: 5%;
    align-self: flex-start;
    position: relative;
}

#colon2{
    width: 5%;
    align-self: flex-end;
}

#page4{
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    position: relative;
}

#page4 h1{
    position: absolute;
    top: -19%;
    font-size: 75px;
    color: transparent;
    /* -webkit-text-stroke: 1px #fff; */
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    font-family: 'Lato', sans-serif;
    white-space :nowrap;
    font-weight: 900;
    z-index: 10;
}

#page4 .green-outline{
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #95c11e, 1px -1px 0 #95c11e, -1px 1px 0 #95c11e !important;
}

.elem{
    height: 70%;
    width: 26%;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
}

.elem h2{
    height: 100%;
    width: 100%;
    text-transform: uppercase;
    color: #000;
    font-weight: 900;
    background-color: #95c11e;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all ease 0.5s;
    font-size: 40px;
    position: absolute;
    z-index: 10;
}

.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.5s;
}

.elem:hover h2{
    color: #fff;
    background-color: transparent;
}
.elem:hover img{
    scale: 1.2;
}

#footer{
    height: 40vh;
    width: 100%;
    background: #ace026;
    background: linear-gradient(to left bottom, #119f3a 0%, #a3d421 80%);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 150px;
    padding: 0 100px;
    z-index: 10;
}

#footer>img{
    position: absolute;
    left: 0;
    height: 100%;
    z-index: 0;
}

#f1 img{
    height: 100px;
}

#f1,#f2,#f3,#f4{
    width: fit-content;
    position: relative;
    z-index: 2;
}

#f2 h3{
    font-size: 30px;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 900;
    margin-bottom: 8px;
}

#f3 h3{
    font-size: 30px;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 800;
    margin-bottom: 8px;
    
}

#f2 h3:hover{
    color: white;
    cursor: pointer;
}

#f3 h3:hover{
    color: white;
    cursor: pointer;
}

#f4 h4 {
    font-size: 18px;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 8px;
  }
